<%= turbo_frame_tag "countries-states" do %>
  <h1>
    States
  </h1>

  <%= form_with model: State.new do |f| %>
    Name: <%= f.text_field :name %><br />
    <br />
    Code: <%= f.text_field :code %><br />
    <br />
    Country: <%= f.select 'country_id', options_from_collection_for_select(@countries, "id", "name", "1")%><br />
    <br />
    <%= f.submit %>
  <% end %>

  <br />
  <br />
  <br />
  <br />

  <%= link_to "Countries", countries_path %>
<% end %>