<h1>
  States
</h1>


<%= form_with model: State.new do |f| %>
  Name: <%= f.text_field :name %><br />
  Code: <%= f.text_field :code %><br />
  Country: <%= f.select 'country_id', options_from_collection_for_select(@countries, "id", "name", "1")%>
  <%= f.submit %>
<% end %>

<br />
<br />
<br />
<br />


<%= button_to "Countries", countries_path, method: "get" %>